doctype 5
html
  head
    title Title
    // build:js js/all.js
    script(src="js/jquery-2.1.0.min.js", type="text/javascript")
    script(src="js/application.js", type="text/javascript")
    // endbuild
    link(href="css/application.css", media="all", rel="stylesheet", type="text/css")
  body
    script(src='js/wall.js', data-optio-theme="default", data-option-inital-limit="100", data-option-access-token="5f864451221b0e8d2ff61b3179ac1a3b5d4ac9e3")